/* Style sheet for baby-vote.com */

* {
	padding: 0px;
	margin: 0px;
}

body{
    width: 980px;
    margin: 0px auto;
}

header{
/* We might want to change the size of the image. Also I want the header to be centered over the VS */	
    text-align: center;
}

nav{
    text-align: center;
}

nav a{
    color: fuchsia;
}

section.vote{
    margin: 0px auto;
    padding: 10px;
    width: 940px;
    overflow: auto;  
}

section.vote *{
    float: left;
}

section.vote .winner{
    width: 150px;
    text-align: center;
    border: solid black thin;
    padding: 1px;
    margin: 0px 10px 20px 10px;
    box-shadow: 8px 8px 5px #888;
    float: none;
}

section.vote div.election{
    margin-left: 30px;
}

section.vote img.baby{
    border: solid black thin;
    box-shadow: 8px 8px 5px #888;
    padding: 1px;
    margin: 0px 10px;
}

section.vote img.baby:hover{
    -moz-transform: scale(1.02);
    -moz-transition-duration: 100ms;
    -webkit-transform: scale(1.02);
    -webkit-transition-duration: 100ms;
    -ms-transform: scale(1.02);
    -ms-transition-duration: 100ms;
    -o-transform: scale(1.02);
    -o-transition-duration: 100ms;
}

section.vote .winner *{
    float: none;
}

section.vote .vs *{
/* insert additional code here so that this is centered in table*/
    float: none;
}

footer{
    text-align: center;
    margin-top: 20px;
}

footer a{
    color: fuchsia;
}
    
    
