/* Style sheet for baby-vote.com */

* {
	padding: 0px;
	margin: 5px 0px;
}

body{
    width: 980px;
	margin: 0px auto;
	color: rgb(28, 112, 103);
}

header{
    text-align: center;
}

nav{
    text-align: center;
    margin: 10px 0px;
}

nav a{
    color: rgb(52,202,186); /* Green */
}

nav a span{
    color: #953ED0; /* Purple */
}

section.content{
    margin: 0px auto;
    width: 940px;
    overflow: auto;
    min-height: 500px;
}

section.content .center{
    text-align: center;
}

section.content .green{
    text-align: center;
    color: #1c7067;
}

section.content .winner{
    width: 100px;
    text-align: center;
    border: solid black thin;
    padding: 1px;
    margin: 15px;
    box-shadow: 8px 8px 5px #888;
    float: left;
    font-size: 75%;
}

section.content div.election{
    overflow: auto;
    margin: 0px auto;
}

section.content div.election *{
    float: left;
}

section.content #result{
    width: 268px;
    margin: 15px auto;
    overflow: auto;
}

img.baby{
    border: solid black thin;
    box-shadow: 8px 8px 5px #888;
    padding: 1px;
    margin: 15px;
    max-width: 900px;
    
}

img.baby:hover{
    -moz-transform: scale(1.02);
    -moz-transition-duration: 100ms;
    -webkit-transform: scale(1.02);
    -webkit-transition-duration: 100ms;
    -ms-transform: scale(1.02);
    -ms-transition-duration: 100ms;
    -o-transform: scale(1.02);
    -o-transition-duration: 100ms;
}

section.content #vs{
    text-align: center;
}

section.content #vs *{
    float: none;
    margin-top: 50px;
}

section.banner{
    color: #1C7067;
    font-size: large;
    text-align: center;
    margin: 20px 0px;
}

p.medium{
    text-align: justify;
    line-height: 150%;
    width: 500px;
    margin: 20px auto;
}

p.title{
    font-size: 200%;
    display: inline;
    font-weight: bold;
}

p.value{
    display: inline;
    margin: 0px 20px;
}

form{
    margin: 0px auto;
    width: 700px;
    overflow: auto;
}

form *{
    max-width: 600px;
}

span#votes{
    color: #953ED0; /* Purple */
}

footer{
    text-align: center;
    margin-top: 10px;
}

footer a{
    color: rgb(52,202,186);
}
